.container1{
	background-color: black;
	text-align: center;
}

body{
	background-image: url("file:///C:/Users/GAVIN/Downloads/SCHOOL%20%20WORK/ICT/FIRST%20QUARTER/Screenshot%202024-09-25%20193150.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.container2{
	background-color: #d0a933;
	width: 330px;
	padding: 45px;
	border: 3px dotted #a6a6a6;
	box-shadow: 2px 2px 25px rgba(0,0,0, 0.8);
	margin: auto;
}
label{
	font-style: italic;
	font font-weight: bold;
}
.column {
  float: left;
  width: 16.20%;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
